<%include header%>
<div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">管理卡</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                管理卡数据表
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <table id="table" class="ui celled table" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>卡号</th>
                                            <th>售货机设备号</th>
                                        </tr>
                                    </thead>
                                </table>
                            <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    <script src="../dist/js/semantic.min.js"></script>
    <script src="../dist/js/jquery.dataTables.min.js"></script>
    <script src="../dist/js/dataTables.semanticui.min.js"></script>
    <script src="../dist/js/dataTables.buttons.min.js"></script>
    <script src="../dist/js/buttons.semanticui.min.js"></script>
    <script src="../dist/js/dataTables.select.min.js"></script>
    <script src="../dist/js/dataTables.editor.min.js"></script>
    <script src="../dist/js/editor.semanticui.min.js"></script>
    <script>
    var editor;
    $(document).ready(function() {
            editor = new $.fn.dataTable.Editor( {
            ajax: {
                create: {
                    type: 'POST',
                    url:  '../api/json/admincard/add'
                },
                edit: {
                    type: 'PUT',
                    url:  '../api/json/admincard/edit/_id_'
                },
                remove: {
                    type: 'DELETE',
                    url:  '../api/json/admincard/remove/_id_'
                }
            },
            table: "#table",
            fields: [
                { label: '卡号', name: 'card' },
                { label: '售货机',  name: 'cus.box' ,type:'checkbox' }
            ],i18n: {
                    create: {
                        button: "新增",
                        title:  "新建管理卡",
                        submit: "创建"
                    },
                    edit: {
                        button: "编辑",
                        title:  "管理卡修改",
                        submit: "更新"
                    },
                    remove: {
                        button: "删除",
                        title:  "删除",
                        submit: "删除",
                        confirm: {
                            _: "确定要删除 %d 条吗?",
                            1: "确定要删除这张管理卡吗?"
                        }
                    }
                }
        } );

        var table= $('#table').DataTable( {
            "processing": true,
            stateSave: true,
            "dom": '<"top"Brf>t<"bottom"ilp>',
            "ajax": '../api/json/admincard',
            "columns": [
                {"data":null},
                { "data": "card" },
                { "data": "box" }
            ],
            select:true,
            buttons: [
            { extend: "create", editor: editor },
            { extend: "edit",  editor: editor },
            { extend: "remove", editor: editor }
            ] ,
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "order": [[1, 'asc']],
            "language": {
                "url": "../vendor/zh_CN.txt"
            }
        });
        table.on('order.dt search.dt',function() {
                    table.column(0, {
                        search: 'applied',
                        order: 'applied'
                    }).nodes().each(function(cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
    });
    </script>
</body>

</html>
