<%include header%>
<div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">售货机</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                售货机数据表
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <table id="table" class="ui celled table" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>售货机编号</th>
                                            <th>客户名称</th>
                                            <th>售货机型号</th>
                                            <th>售货机类型</th>
                                            <th>安装地址</th>
                                            <th>紧急联系人</th>
                                            <th>紧急联系人电话</th>
                                            <th>状态</th>
                                            <th>联机状态</th>
                                        </tr>
                                    </thead>
                                </table>
                            <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    <script src="../dist/js/semantic.min.js"></script>
    <script src="../dist/js/jquery.dataTables.min.js"></script>
    <script src="../dist/js/dataTables.semanticui.min.js"></script>
    <script src="../dist/js/dataTables.buttons.min.js"></script>
    <script src="../dist/js/buttons.semanticui.min.js"></script>
    <script src="../dist/js/dataTables.select.min.js"></script>
    <script src="../dist/js/dataTables.editor.min.js"></script>
    <script src="../dist/js/editor.semanticui.min.js"></script>
    <script>
    var editor;
    $(document).ready(function() {
            editor = new $.fn.dataTable.Editor( {
            ajax: {
                create: {
                    type: 'POST',
                    url:  '../api/json/box/add'
                },
                edit: {
                    type: 'PUT',
                    url:  '../api/json/box/edit/_id_'
                },
                remove: {
                    type: 'DELETE',
                    url:  '../api/json/box/remove/_id_'
                }
            },
            table: "#table",
            fields: [
                { label: '售货机编号',  name: 'machine' },
                { label: '设备号',  name: 'deviceId' },
                { label: '客户',  name: 'cusId' ,type:'select' },
                { label: '售货机型号',  name: 'model' },
                { label: '售货机类型',  name: 'issend',type:'radio',options:[
                    { label: "格子柜",  value: 0 },
                    { label: "螺纹柜", value: 1},
                ], def: 1},
                { label: '附属柜序号',  name: 'child' },
                { label: '安装地址',  name: 'address' },
                { label: '紧急联系人',  name: 'connecter' },
                { label: '紧急联系人电话',  name: 'conPhone' },
                { label: '状态',  name: 'state' }
            ],i18n: {
                    create: {
                        button: "新增",
                        title:  "新建售货机",
                        submit: "创建"
                    },
                    edit: {
                        button: "编辑",
                        title:  "售货机信息修改",
                        submit: "更新"
                    },
                    remove: {
                        button: "删除",
                        title:  "删除",
                        submit: "删除",
                        confirm: {
                            _: "确定要删除 %d 条吗?",
                            1: "确定要删除这条售货机信息吗?"
                        }
                    }
                }
        } );
        editor.dependent( 'issend', function ( val ) {
            return val === 1 ?
                { hide: ['child'] } :
                { show: ['child'] };
        } );
        var table= $('#table').DataTable( {
            "processing": true,
            stateSave: true,
           "ajax": '../api/json/box',
           "dom": '<"top"Brf>t<"bottom"ilp>',
           "columns": [
                {"data":null},
                { "data": "machine" },
                { "data": "cusId" },
                { "data": "model" },
                { "data": "issend",render:function(data){return data?"螺纹柜":"格子柜"} },
                { "data": "address" },
                { "data": "connecter" },
                { "data": "conPhone" },
                { "data": "state" },
                { "data": "isLive",render:function(data){return data?"联机":"未联机"} }
            ],
            select:true,
            buttons: [
            { extend: "create", editor: editor },
            { extend: "edit",  editor: editor },
            { extend: "remove", editor: editor }
            ] ,
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "order": [[1, 'asc']],
            "language": {
                "url": "../vendor/zh_CN.txt"
            }
        });
        $('#table tbody').on('click', 'tr', function () {
            var data = table.row( this ).data();
            console.log(data);
        } );
        table.on('order.dt search.dt',function() {
                    table.column(0, {
                        search: 'applied',
                        order: 'applied'
                    }).nodes().each(function(cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
        });
    </script>
</body>

</html>
