<%include header%>
<div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">客户员工</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                客户员工数据表
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <table id="table" class="ui celled table" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>序号</th>
                                            <th>客户名称</th>
                                            <th>工号</th>
                                            <th>姓名</th>
                                            <th>性别</th>
                                            <th>部门</th>
                                            <th>职务</th>
                                            <th>电话</th>
                                            <th>备注</th>
                                        </tr>
                                    </thead>
                                </table>
                            <!-- /.table-responsive -->

                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    <script src="../dist/js/semantic.min.js"></script>
    <script src="../dist/js/jquery.dataTables.min.js"></script>
    <script src="../dist/js/dataTables.semanticui.min.js"></script>
    <script src="../dist/js/dataTables.buttons.min.js"></script>
    <script src="../dist/js/buttons.semanticui.min.js"></script>
    <script src="../dist/js/dataTables.select.min.js"></script>
    <script src="../dist/js/dataTables.editor.min.js"></script>
    <script src="../dist/js/editor.semanticui.min.js"></script>
    <script src="../dist/js/dataTables.responsive.min.js"></script>
    <script src="../dist/js/responsive.semanticui.min.js"></script>
    <script>
        function format ( d ) {
        // `d` is the original data object for the row
            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                '<tr id="'+d.DT_RowId+'">'+
                    '<td>卡号:</td>'+
                    '<td>'+d.card+'</td>'+
                    '<td><button value='+d.DT_RowId+' class="btn btn-primary btn-sm" onclick="openModal(1)">配置卡</button></td>'+
                '</tr>'+
                '<tr id="'+d.DT_RowId+'">'+
                    '<td>权限:</td>'+
                    '<td>'+d.power+'</td>'+
                    '<td><button value='+d.DT_RowId+' class="btn btn-primary btn-sm" onclick="openModal(2)">配置权限</button></td>'+
                '</tr>'+
            '</table>';
        }
        var editor;
        $(document).ready(function() {
                editor = new $.fn.dataTable.Editor( {
                ajax: {
                    create: {
                        type: 'POST',
                        url:  '../api/json/employee/add'
                    },
                    edit: {
                        type: 'PUT',
                        url:  '../api/json/employee/edit/_id_'
                    },
                    remove: {
                        type: 'DELETE',
                        url:  '../api/json/employee/remove/_id_'
                    }
                },
                table: "#table",
                fields: [
                    { label: '客户',  name: 'cusId' ,type:'select' },
                    { label: '工号',  name: 'empNo' },
                    { label: '姓名',  name: 'name' },
                    { label: '性别',  name: 'sex' ,type:'radio',options:[
                        { label: "女", value: 0},
                        { label: "男",  value: 1 }
                    ], },
                    { label: '部门',  name: 'dept' },
                    { label: '职务',  name: 'job' },
                    { label: '电话',  name: 'phone' },
                    { label: '备注',  name: 'notice' }
                ],i18n: {
                        create: {
                            button: "新增",
                            title:  "新建员工",
                            submit: "创建"
                        },
                        edit: {
                            button: "编辑",
                            title:  "员工信息修改",
                            submit: "更新"
                        },
                        remove: {
                            button: "删除",
                            title:  "删除",
                            submit: "删除",
                            confirm: {
                                _: "确定要删除 %d 条吗?",
                                1: "确定要删除这条员工信息吗?"
                            }
                        }
                    }
            } );
            var table= $('#table').DataTable( {
                "processing": true,
                stateSave: true,
               "ajax": '../api/json/employee',
               "dom": '<"top"Brf>t<"bottom"ilp>',
               "columns": [
                   {
                    "class":          'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ''
                    },
                    {"data":null},
                    { "data": "cusId" },
                    { "data": "empNo" },
                    { "data": "name" },
                    { "data": "sex" ,render:function(data){return data?"男":"女"}},
                    { "data": "dept" },
                    { "data": "job" },
                    { "data": "phone" },
                    { "data": "notice" }
                ],
                select:true,
                buttons: [
                { extend: "create", editor: editor },
                { extend: "edit",  editor: editor },
                { extend: "remove", editor: editor }
                ] ,
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
                "order": [[2, 'asc']],
                "language": {
                    "url": "../vendor/zh_CN.txt"
                }
            });
            table.on('order.dt search.dt',function() {
                        table.column(1, {
                            search: 'applied',
                            order: 'applied'
                        }).nodes().each(function(cell, i) {
                            cell.innerHTML = i + 1;
                        });
                    }).draw();
            $('#table tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child( format(row.data()) ).show();
                    tr.addClass('shown');
                }
            } );
        });
        function closeModal(){
            $('#myModal').removeClass('visible');
            $('#myModal').removeClass('active');
            $('#myModal').addClass('hidden');

        }
        function openModal(title){
            $('#myModal').addClass('active');
            $('#myModal').addClass('visible');
            $('#myModal').removeClass('hidden');
            if(title==1){
                $('#myModalLabel').html("添加/删除卡");
                $('#myModalHeading').html("已拥有卡");
                $('#myModalSelectLable').html("选择卡号");
            }else if(title==2){
                $('#myModalLabel').html("添加/删除权限");
                $('#myModalHeading').html("已拥有权限");
                $('#myModalSelectLable').html("选择权限");
            }
        }
    </script>
    <div class="ui dimmer modals page transition hidden" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin-top:100px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeModal()">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body" id="myModalBody">
                    <div class="form-group">
                        <label id="myModalSelectLable"></label>
                        <select multiple class="form-control" id="myModalSelect">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <button type="button" style="margin-top:5px" class="btn btn-default btn-sm" id="addCard">添加</button>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" id="myModalHeading">

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal()">关闭</button>
                    <button type="button" class="btn btn-primary" >保存</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</body>

</html>
