<%include header%>
<div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">客户员工</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                客户员工数据表
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <table id="table" class="ui celled table" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>客户名称</th>
                                            <th>工号</th>
                                            <th>姓名</th>
                                            <th>卡号</th>
                                            <th>性别</th>
                                            <th>部门</th>
                                            <th>职务</th>
                                            <th>电话</th>
                                            <th>备注</th>
                                            <th>原卡号</th>
                                        </tr>
                                    </thead>
                                </table>
                            <!-- /.table-responsive -->

                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                权限设置
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <table id="table1" class="ui celled table" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>产品编号</th>
                                            <th>产品名称</th>
                                            <th>周期单位</th>
                                            <th>周期间隔</th>
                                            <th>期间领料数</th>
                                        </tr>
                                    </thead>
                                </table>
                            <!-- /.table-responsive -->

                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    <script src="../dist/js/semantic.min.js"></script>
    <script src="../dist/js/jquery.dataTables.min.js"></script>
    <script src="../dist/js/dataTables.semanticui.min.js"></script>
    <script src="../dist/js/dataTables.buttons.min.js"></script>
    <script src="../dist/js/buttons.semanticui.min.js"></script>
    <script src="../dist/js/dataTables.select.min.js"></script>
    <script src="../dist/js/dataTables.editor.min.js"></script>
    <script src="../dist/js/editor.semanticui.min.js"></script>
    <script>
        var editor;
        var editor1;
        $(document).ready(function() {
                editor = new $.fn.dataTable.Editor( {
                ajax: {
                    create: {
                        type: 'POST',
                        url:  '../api/json/employee/add'
                    },
                    edit: {
                        type: 'PUT',
                        url:  '../api/json/employee/edit/_id_'
                    },
                    remove: {
                        type: 'DELETE',
                        url:  '../api/json/employee/remove/_id_'
                    }
                },
                table: "#table",
                fields: [
                    { label: '客户',  name: 'cusId' ,type:'select' },
                    { label: '工号',  name: 'empNo' },
                    { label: '姓名',  name: 'name' },
                    { label: '卡号',  name: 'old' },
                    { label: '性别',  name: 'sex' ,type:'radio',options:[
                        { label: "女", value: 0},
                        { label: "男",  value: 1 }
                    ], },
                    { label: '部门',  name: 'dept' },
                    { label: '职务',  name: 'job' },
                    { label: '电话',  name: 'phone' },
                    { label: '备注',  name: 'notice' }
                ],i18n: {
                        create: {
                            button: "新增",
                            title:  "新建员工",
                            submit: "创建"
                        },
                        edit: {
                            button: "编辑",
                            title:  "员工信息修改",
                            submit: "更新"
                        },
                        remove: {
                            button: "删除",
                            title:  "删除",
                            submit: "删除",
                            confirm: {
                                _: "确定要删除 %d 条吗?",
                                1: "确定要删除这条员工信息吗?"
                            }
                        }
                    }
            } );
            var table= $('#table').DataTable( {
                "processing": true,
                stateSave: true,
               "ajax": '../api/json/employee',
               "dom": '<"top"Brf>t<"bottom"ilp>',
               "columns": [
                    {"data":null},
                    { "data": "cus" },
                    { "data": "empNo" },
                    { "data": "name" },
                    { "data": "card"},
                    { "data": "sex" ,render:function(data){return data?"男":"女"}},
                    { "data": "dept" },
                    { "data": "job" },
                    { "data": "phone" },
                    { "data": "notice" },
                    { "data": "old" }
                ],
                select:true,
                buttons: [
                { extend: "create", editor: editor },
                { extend: "edit",  editor: editor },
                { extend: "remove", editor: editor }
                ] ,
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
                "order": [[2, 'asc']],
                "language": {
                    "url": "../vendor/zh_CN.txt"
                }
            });
            table.on('order.dt search.dt',function() {
                        table.column(0, {
                            search: 'applied',
                            order: 'applied'
                        }).nodes().each(function(cell, i) {
                            cell.innerHTML = i + 1;
                        });
                    }).draw();

            $('#table tbody').on('click', 'tr', function () {
                var data = table.row( this ).data();
                table1.ajax.url('../api/json/empPower/'+data.DT_RowId).load();
                editor1.add( [{
                    type:  "hidden",
                    name:  "emp",
                    def:   data.DT_RowId
                },{
                    type:  "hidden",
                    name:  "cus",
                    def:   data.cusId
                }] );
            } );
            editor1 = new $.fn.dataTable.Editor( {
                ajax: {
                    create: {
                        type: 'POST',
                        url:  '../api/json/empPower/add'
                    },
                    edit: {
                        type: 'PUT',
                        url:  '../api/json/empPower/edit/_id_'
                    },
                    remove: {
                        type: 'DELETE',
                        url:  '../api/json/empPower/remove/_id_'
                    }
                },
                table: "#table1",
                fields: [
                    { label: '产品',  name: 'productId',type :'select'},
                    { label: '周期单位',  name: 'unit',type:'select',options:[
                        { label: "日", value: 'day'},
                        { label: "周", value: 'week'},
                        { label: "月", value: 'month'}
                    ]},
                    { label: '周期间隔',  name: 'period'},
                    { label: '期间领料数',  name: 'count'}
                ],i18n: {
                        create: {
                            button: "新增",
                            title:  "新建权限",
                            submit: "创建"
                        },
                        edit: {
                            button: "编辑",
                            title:  "权限修改",
                            submit: "更新"
                        },
                        remove: {
                            button: "删除",
                            title:  "删除",
                            submit: "删除",
                            confirm: {
                                _: "确定要删除 %d 条吗?",
                                1: "确定要删除这条权限配置吗?"
                            }
                        }
                    }
            } );
            var table1= $('#table1').DataTable( {
                "processing": true,
                stateSave: true,
               "ajax": '',
               "dom": '<"top"Brf>t<"bottom"ilp>',
               "columns": [
                    {"data":null},
                    { "data": "sku" },
                    { "data": "product"},
                    { "data": "unit" },
                    { "data": "period" },
                    { "data": "count" }
                ],
                select:true,
                buttons: [
                { extend: "create", editor: editor1 },
                { extend: "edit",  editor: editor1 },
                { extend: "remove", editor: editor1 }
                ] ,
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
                "order": [[1, 'asc']],
                "language": {
                    "url": "../vendor/zh_CN.txt"
                }
            });
            table1.on('order.dt search.dt',function() {
                        table1.column(0, {
                            search: 'applied',
                            order: 'applied'
                        }).nodes().each(function(cell, i) {
                            cell.innerHTML = i + 1;
                        });
                    }).draw();

        });
    </script>
</body>

</html>
