<%include header%>
<div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">售货机交易记录</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                售货机交易记录数据表
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="top"></div>
                                <div class="form-group">
                                    <label>选择客户</label>
                                    <select class="form-control" style="width:59%" name="customer">
                                        <% for(var i=0; i<results.length; i++) {%>
                                        <option value=<%= results[i].id %>><%= results[i].get('name') %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <table id="table" class="ui celled table" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>时间</th>
                                            <th>单据类型</th>
                                            <th>客户名称</th>
                                            <th>售货机编号</th>
                                            <th>货道编号</th>
                                            <th>产品编号</th>
                                            <th>产品名称</th>
                                            <th>数量</th>
                                            <th>总价</th>
                                            <th>领用人</th>
                                            <th>卡号</th>
                                        </tr>
                                    </thead>
                                </table>
                            <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    <script src="../dist/js/jquery.dataTables.min.js"></script>
    <script src="../dist/js/dataTables.semanticui.min.js"></script>
    <script src="../dist/js/semantic.min.js"></script>
    <script src="http://cdn.bootcss.com/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js" charset="utf-8"></script>
    <script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js" charset="utf-8"></script>
    <script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js" charset="utf-8"></script>
    <script>
        var t= $('#table').DataTable( {
            "processing": true,
            "serverSide": false,
            destroy:true,
            "dom": '<"top"Brf>t<"bottom"ilp>',
           "ajax": {"url":'../api/json/pasrecord/'+moment().format('YYYY-MM-DD')},
           "columns": [
                {"data":null},
                { "data": "time" },
                { "data": "type" },
                { "data": "cus" },
                { "data": "machine" },
                { "data": "passage" },
                { "data": "sku" },
                { "data": "product" },
                { "data": "count" },
                { "data": "price" },
                { "data": "employee" },
                { "data": "empCard" }
            ],
            buttons: [
              {
                  extend: 'collection',
                  text: '导出',
                  buttons: [
                      'copy',
                      'excel',
                      'csv',
                      'pdf',
                      'print'
                  ]
              }],
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "order": [[1, 'desc']],
            "language": {
                "url": "../vendor/zh_CN.txt"
            },
        });

        t.on('order.dt search.dt',function() {
                    t.column(0, {
                        search: 'applied',
                        order: 'applied'
                    }).nodes().each(function(cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
        initComplete();

        function initComplete(){

            var dataPlugin =
                   '<div id="reportrange" class="pull-left dateRange" style="width:400px;margin-bottom: 12px"> '+
                   '日期：<i class="glyphicon glyphicon-calendar fa fa-calendar"></i> '+
                   '<span id="searchDateRange"></span>  '+
                   '<b class="caret"></b></div> ';
            $('#top').append(dataPlugin);
            //时间插件
            $('#reportrange span').html(moment().subtract(1,'hours').format('YYYY-MM-DD') + ' - ' + moment().format('YYYY-MM-DD'));

            $('#reportrange').daterangepicker(
                   {
                       // startDate: moment().startOf('day'),
                       //endDate: moment(),
                       //minDate: '01/01/2012',    //最小时间
                       maxDate : moment(), //最大时间
                       dateLimit : {
                           days : 100
                       }, //起止时间的最大间隔
                       showDropdowns : true,
                       showWeekNumbers : false, //是否显示第几周
                       timePicker : false, //是否显示小时和分钟
                       timePickerIncrement : 60, //时间的增量，单位为分钟
                       timePicker12Hour : false, //是否使用12小时制来显示时间
                       ranges : {
                           //'最近1小时': [moment().subtract('hours',1), moment()],
                           '今日': [moment().startOf('day'), moment()],
                           '昨日': [moment().subtract(1,'days').startOf('day'), moment().subtract(1,'days').endOf('day')],
                           '最近7日': [moment().subtract(6,'days'), moment()],
                           '最近30日': [moment().subtract(29,'days'), moment()]
                       },
                       opens : 'right', //日期选择框的弹出位置
                       buttonClasses : [ 'btn btn-default' ],
                       applyClass : 'btn-small btn-primary blue',
                       cancelClass : 'btn-small',
                       format : 'YYYY-MM-DD HH:mm:ss', //控件中from和to 显示的日期格式
                       separator : ' to ',
                       locale : {
                           applyLabel : '确定',
                           cancelLabel : '取消',
                           fromLabel : '起始时间',
                           toLabel : '结束时间',
                           customRangeLabel : '自定义',
                           daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                           monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月',
                               '七月', '八月', '九月', '十月', '十一月', '十二月' ],
                           firstDay : 1
                       }
                   }, function(start, end, label) {//格式化日期显示框

                       $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
                   });

            //设置日期菜单被选项  --开始--
            var dateOption ;
            if("${riqi}"=='day') {
               dateOption = "今日";
            }else if("${riqi}"=='yday') {
               dateOption = "昨日";
            }else if("${riqi}"=='week'){
               dateOption ="最近7日";
            }else if("${riqi}"=='month'){
               dateOption ="最近30日";
            }else if("${riqi}"=='year'){
               dateOption ="最近一年";
            }else{
               dateOption = "自定义";
            }
            $(".daterangepicker").find("li").each(function (){
               if($(this).hasClass("active")){
                   $(this).removeClass("active");
               }
               if(dateOption==$(this).html()){
                   $(this).addClass("active");
               }
            });
            //设置日期菜单被选项  --结束--


            //选择时间后触发重新加载的方法
            $("#reportrange").on('apply.daterangepicker',function(){
               //当选择时间后，出发dt的重新加载数据的方法
               var date=$('#reportrange span').html();
               $('#table1_processing').css("z-index",100);
               $('#table1_processing').css('display','block');
               t.ajax.url('../api/json/pasrecord/'+date).load();
               /*$.getJSON('../api/json/pasrecord/'+date,function(data){
                   console.log(data);
              });*/
            });
   }
    </script>
</body>

</html>
