<%include header%>
<div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">售货机交易记录</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                售货机交易记录数据表
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <table id="table" class="ui celled table" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>时间</th>
                                            <th>单据类型</th>
                                            <th>单据号</th>
                                            <th>客户名称</th>
                                            <th>售货机设备号</th>
                                            <th>货道编号</th>
                                            <th>SKU编号</th>
                                            <th>产品名称</th>
                                            <th>数量</th>
                                            <th>包装</th>
                                            <th>领用人</th>
                                            <th>员工工号</th>
                                            <th>卡号</th>
                                        </tr>
                                    </thead>
                                </table>
                            <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.semanticui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>
    <script>
        var t= $('#table').DataTable( {
            stateSave: true,
           "ajax": '../api/json/passtock',
           "columns": [
                {"data":null},
                { "data": "time" },
                { "data": "type" },
                { "data": "objectId" },
                { "data": "cus" },
                { "data": "deviceId" },
                { "data": "passage" },
                { "data": "sku" },
                { "data": "product" },
                { "data": "count" },
                { "data": "assortment" },
                { "data": "employee" },
                { "data": "empNo" },
                { "data": "empCard" }
            ],
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "order": [[1, 'asc']],
            "language": {
                "url": "../vendor/zh_CN.txt"
            }
        });
        t.on('order.dt search.dt',function() {
                    t.column(0, {
                        search: 'applied',
                        order: 'applied'
                    }).nodes().each(function(cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
    </script>
</body>

</html>
