<% include header %>
        <div id="page-wrapper">
            <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">补货计划</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            补货需求
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table id="table" class="ui celled table" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>指示灯</th>
                                        <th>客户名称</th>
                                        <th>售货机编号</th>
                                        <th>补货产品</th>
                                        <th>产品编码</th>
                                        <th>最大容量</th>
                                        <th>库存数量</th>
                                        <th>补货提示点</th>
                                        <th>警戒值</th>
                                        <th>需求数量</th>
                                        <th>计量单位</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>
<script src="../dist/js/jquery.dataTables.min.js"></script>
<script src="../dist/js/dataTables.semanticui.min.js"></script>
<script src="../dist/js/semantic.min.js"></script>
<script>
    var t= $('#table').DataTable( {
        "processing": true,
        stateSave: true,
       "ajax": '../api/json/supplyplan',
       "columns": [
            {"data":"light"},
            { "data": "cus" },
            { "data": "machine" },
            { "data": "product" },
            { "data": "sku" },
            { "data": "max" },
            { "data": "stock" },
            { "data": "cue" },
            { "data": "warning" },
            { "data": "count" },
            { "data": "unit" }
        ],
            "createdRow": function ( row, data, index ) {
                if ( data.light=="green" ) {
                    $('td', row).eq(0).css("color","#32c5d2");
                }else if(data.light=="red"){
                    $('td', row).eq(0).css("color","#e7505a");
                }else if (data.light=="yellow") {
                    $('td', row).eq(0).css("color","#f89406");
                }
            },
        "columnDefs": [{
            "searchable": false,
            "orderable": false,
            "targets": 0
        }],
        "order": [[1, 'desc']],
        "language": {
            "url": "../vendor/zh_CN.txt"
        }
    });

</script>
</body>

</html>
